/* marketplace.component.css */
.marketplace {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: #f4f4f4; /* Light Grey */
}

/* .marketplace {
  background-image: url('path-to-your-themed-background-or-pattern');
} */


.resource-card {
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.resource-card button {
  cursor: pointer;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.resource-card button:hover {
  background-color: #0056b3;
}


.search-container {
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.search-container input {
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}
